
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>AdminLTE 3 | Log in</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Font Awesome -->
    <link rel="stylesheet" href="~/AdminLTE3-master/plugins/fontawesome-free/css/all.min.css">
    <!-- Ionicons -->
    <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <!-- icheck bootstrap -->
    <link rel="stylesheet" href="~/AdminLTE3-master/plugins/icheck-bootstrap/icheck-bootstrap.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="~/AdminLTE3-master/dist/css/adminlte.min.css">
    <!-- Google Font: Source Sans Pro -->
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">
</head>
<body class="hold-transition login-page">
    <div class="login-box">
        <div class="login-logo">
            <a href="../../index2.html"><b>Admin Giriş Paneli</b></a>
        </div>
        <!-- /.login-logo -->
        @using (Html.BeginForm("LoginAdmin", "AdminLogin", FormMethod.Post))
        {
            <div class="card">
                <div class="card-body login-card-body">
                    <p class="login-box-msg">Oturum Aç</p>
                    <form action="../../index3.html" method="post">
                        <div class="input-group mb-3">
                            <input type="email" name="MAIL" class="form-control" placeholder="Email">
                            <div class="input-group-append">
                                <div class="input-group-text">
                                    <span class="fas fa-envelope"></span>
                                </div>
                            </div>
                        </div>
                        <div class="input-group mb-3">
                            <input type="password" name="PASSWORD" class="form-control" placeholder="Password">
                            <div class="input-group-append">
                                <div class="input-group-text">
                                    <span class="fas fa-lock"></span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-8">
                                <div class="icheck-primary">
                                    <input type="checkbox" id="remember">
                                    <label for="remember">
                                        Beni Hatırla
                                    </label>
                                </div>
                            </div>
                        </div>
                    </form>
                    <div class="social-auth-links text-center mb-3">
                        <button type="submit" class="btn btn-block btn-danger ">&nbsp;Giriş Yap </button>
                        <a href="/Login/LogIn/" class="btn btn-block btn-danger btn-default" style="background-color:#2ca1e5; color:white">
                            <i class="fab fa-user-alt"></i>Üye Girişi
                        </a>
                    </div>
                    <p class="mb-1">
                        <a href="forgot-password.html">Şifrenimi unuttum</a>
                    </p>
                    <p class="mb-0">
                        <a href="/Window/Index/" class="text-center">Vitrine Geri Dön</a>
                    </p>
                </div>
            </div>
        }
    </div>
    <!-- /.login-box -->
    <!-- jQuery -->
    <script src="~/AdminLTE3-master/plugins/jquery/jquery.min.js"></script>
    <!-- Bootstrap 4 -->
    <script src="~/AdminLTE3-master/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- AdminLTE App -->
    <script src="~/AdminLTE3-master/dist/js/adminlte.min.js"></script>

</body>
</html>
