@model MVCLIBRARY.Models.Entity.TBL_NOTIFICATION
@{
    ViewBag.Title = "NotificationAdd";
    Layout = "~/Views/Shared/Layout.cshtml";
}

<form class="form-group" method="post">
    <div></div>
    <div style="margin-top:15px">
        <label>Duyuru Başlığı</label>
        @Html.TextBoxFor(x => x.CATEGORY, new { @class = "form-control" })
    </div>

    <div style="margin-top:15px">
        <label>Duyuru İçeriği</label>
        @Html.TextBoxFor(x => x.CONTENTS, new { @class = "form-control" })
    </div>

    <div style="margin-top:15px">
        <label>Duyuru Tarihi</label>
        @Html.TextBoxFor(x => x.DATE, new { @class = "form-control" })
    </div>
    <div style="margin-top:15px">
        <button class="btn btn-info" id="btn1">Duyuru Ekle</button>
    </div>
</form>
