@using MVCLIBRARY.Models.Entity
@using PagedList;
@using PagedList.Mvc;
@model PagedList.IPagedList<TBL_CATEGORY>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/layout.cshtml";
}
<h2>Kategoriler</h2>

@using (Html.BeginForm("Index", "Category", FormMethod.Get))
{
    //Kitap Arama
    <div style="margin-bottom:15px; margin-top:15px;">
        <b>Kategori Bilgisi Giriniz: &nbsp;</b> @Html.TextBox("p")
        <input type="submit" value="Ara" />
        @*<input type="text" class="form-control" placeholder="Aranacak kitabı giriniz...." />*@

    </div>
}

<table class="table table-striped  table-hover table-bordered border-primary">
    <tr style="background-color:rgb(252,178,22)">
        <th>Kategori Id</th>
        <th>Kategori Adı</th>
        <th>Kategori Sil </th>
        <th>Kategori Güncelle</th>
    </tr>
    @foreach (var ktg in Model)
    {
        <tr>
            <td>@ktg.ID</td>
            <td>@ktg.NAME</td>
            <td><a href="/Category/CategoryDelete/@ktg.ID" class="btn btn-danger ">SİL</a></td>
            <td><a href="/Category/CategoryGet/@ktg.ID" class="btn btn-success ">GÜNCELLE</a></td>

        </tr>
    }
</table>
@Html.PagedListPager((IPagedList)Model, sayfa => Url.Action("Index", new { sayfa }))

<a href="/Category/CategoryAdd/" class="btn btn-primary">Yeni Kategori Ekle</a>